<!DOCTYPE html>
<html>

  <head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1><%= title %></h1>

    <a href="/">Home</a>
	<a href="/credits">Credits</a>
	<a href="/quizzes">Quizzes</a>
    <p>Beatriz Blanco es la creadora de esta página</p>
  	<img src="http://www.pbs.org/food/wp-content/blogs.dir/2/files/2015/04/Audrey-Hepburn1954.jpg"> </img>

  </body>

</html>