<!DOCTYPE html>
<html>
  <head>
    <title><%=Credits%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Inicio%></h1>
 
    <p>Beatriz Blanco Bejar</p>

    <img src="http://listas.eleconomista.es/system/lists/000/016/502/medium/listas-eleconomista-audrey-hepburn.jpg?1518398891:">
  </body>
</html>