<!DOCTYPE html>
<html>
  <head>
    <title><P5_QUIZ></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><P5_QUIZ></h1>
    <p>Welcome to <%= title %></p>
    <a href= http://localhost:3000/credits> Credits</a>
    <a href= http://localhost:3000/quizzes> Quizzes</a>
  </body>
</html>